<.header>
  Liink
  <:subtitle>This is a link record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/links/#{@link}/delete"} phx-click={JS.push_focus()}>
      <.button>Delete link</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@link.title}</:item>
  <:item title="Url">{@link.url}</:item>
</.list>

<.back navigate={~p"/links"}>Back to links</.back>
